.profileImgBox {
  position: relative;
  display: flex;
  justify-content: center;
}

.profileBgImg {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.profileNameBox {
  position: absolute;
  bottom: -150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
}

.profileName {
  margin-top: 5%;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.profileDesc {
  margin-top: 5%;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.profileCenter {
  display: flex;
  margin-top: 200px;
  margin-bottom: 200px;
}

.profileCenterLeft {
  flex: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileCenterLeftHeaderBox {
  text-align: left;
  width: 70%;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  margin-bottom: -3%;
}

.hr__2 {
  width: 80px;
  margin: 2% 0;
  background: #333;
  border: none;
  height: 3px;
}

.profileCenterRight {
  flex: 4;
}

.profileInfo {
  position: sticky;
  top: 13%;
}

.profileInfoHeaderBox {
  display: flex;
  margin-bottom: 15px;
}

.profileInfoEditIcon {
  margin-left: 30px;
  cursor: pointer;
  transition: 0.2s !important;
  color: #333;
  position: relative;
  top: 3px;
}

.profileInfoEditIcon:hover {
  transform: scale(1.15);
}

.profileInfoHeader {
  font-size: 32px;
  margin-bottom: 5%;
}

.profileInfoItems {
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.profileInfoItem {
  font-size: 20px;
  margin-bottom: 15px;
}

.profileInfoEditItems {
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.profileInfoEditItem {
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
}

.profileInfoEditItem input {
  border: none;
  border-bottom: 1px solid black;
  width: 80%;
  padding: 10px 5px;
  font-size: 18px;
  color: #333;
}

.profileInfoEditItem input::placeholder {
  color: rgb(175, 173, 173);
  font-weight: 300;
}

.profileInfoEditItem input:focus {
  outline: none;
}

.profileInfofileItem {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.fileIconBox__2 {
  margin-left: 15px;
  cursor: pointer;
  transition: 0.2s !important;
}

.fileIconBox__2:hover {
  transform: scale(1.15);
}

.fileIcon__2 {
  border-radius: 50%;
  border: 1px solid black;
}

.editButton {
  position: absolute;
  right: 20%;
  font-size: 22px;
  border: none;
  padding: 10px 20px;
  background-color: darkcyan;
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  cursor: pointer;
}

.profileInfoEditCancleIcon {
  position: absolute;
  top: 2%;
  right: 20%;
  color: tomato;
  cursor: pointer;
}
