.navbar {
  height: 80px;
  border-bottom: 1px solid rgb(209, 209, 209);
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
}

.navbarWrapper {
  padding: 5px;
  display: flex;
}

.navBarLeft {
  flex: 3;
  display: flex;
  align-items: center;
}

.navBarLeftLogo {
  font-family: "MonteCarlo", cursive;
  font-size: 40px;
  margin-left: 60px;
  cursor: pointer;
}

.navBarCenter {
  flex: 4;
}

.navBarCenterItems {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.navBarCenterItem {
  cursor: pointer;
}

.navBarCenterItem:hover {
  color: rgb(145, 145, 145);
}

.navBarRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navBarRightInputContainer {
  position: relative;
  width: 40%;
}

.navBarRightSearch {
  margin-right: 20px;
  padding: 5px 10px;
  width: 80%;
  border: 1px solid rgb(185, 185, 185);
  height: 22px;
}

.navBarRightSearch:focus {
  outline: none;
}

.navBarRightSearch::placeholder {
  font-family: "Nanum Gothic", sans-serif;
}

.navBarRightSearchIcon {
  position: absolute;
  top: 6px;
  right: 28px;
  color: rgb(112, 112, 112);
}

.navBarRightImg {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 40px;
  border: 1px solid rgb(207, 207, 207);
  cursor: pointer;
}
