.postBox {
  width: 90%;
  display: flex;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.postBox:hover img {
  opacity: 0.85;
}

.postBox:hover p {
  text-decoration: underline;
}

.postBoxLeft {
  flex: 1;
}

.postBoxLeft img {
  width: 280px;
  height: 180px;
  object-fit: cover;
  max-height: 234px;
}

.postBoxRight {
  flex: 3;

  margin-left: 20px;
  padding: 10px;
  position: relative;
}

.postBoxRightHeader {
  font-size: 28px;
  font-weight: 500;
}

.categoryItems {
  list-style: none;
  margin-top: 10px;
  display: flex;
}

.categoryItem {
  font-size: 14px;
  color: #333;
  margin-right: 10px;
  cursor: pointer;
}

.postBoxRightContent {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;

  box-sizing: border-box;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.postBoxRightDate {
  font-size: 14px;
  font-weight: 300;
  color: #333;
  position: absolute;
  top: 5%;
  right: 5%;
}
