.home {
  height: 5000px;
}

.homeTop {
  position: relative;
}

.homeTopImg {
  height: 75vh;
  width: 100%;
  object-fit: cover;
}

.homeTopCard {
  width: 500px;
  height: 200px;
  background-color: #ececec93;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.homeTopCard h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: rgb(26, 26, 26);
}

.homeTopCard p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", cursive;
  font-size: 23px;
  color: rgb(19, 19, 19);
}

.homeWrapper {
  height: 100%;
}

.homeCenter {
  margin-top: 150px;
  height: 100%;
}

.homeCenterLeft {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 75%;
  transition: 0.7s;
  justify-content: center;
}

.homeCenterLeft.hidden {
  width: 100%;
}

.menuBoxButton {
  position: absolute;
  left: -10%;
  border: none;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  top: 12%;
  font-size: 22px;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.arrowIcon.right {
  padding: 5px 1px 5px 9px;
}

.homeCenterRight.hidden {
  left: 97vw;
}

.homeCenterRight {
  left: 75vw;
  width: 25%;
  position: relative;
  height: 100%;
  transition: 0.7s;
}

.stickyWrapper {
  position: sticky;
  top: 5%;
}
