.posts {
}

.postsWrapper {
  display: flex;
}

.postsLeft {
  margin-top: 100px;
  flex: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postBox {
  width: 70%;
  display: flex;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.postBox:hover img {
  opacity: 0.85;
}

.postBox:hover p {
  text-decoration: underline;
}

.postBoxLeft {
  flex: 2;
}

.postBoxLeft img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.postBoxRight {
  flex: 3;
  margin-left: 20px;
  padding: 10px;
  position: relative;
}

.postBoxRightHeader {
  font-size: 28px;
  font-weight: 500;
}

.categoryItems {
  list-style: none;
  margin-top: 10px;
  display: flex;
}

.categoryItem {
  font-size: 14px;
  color: #333;
  margin-right: 10px;
  cursor: pointer;
}

.postBoxRightContent {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
}

.postsRight {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.postsRightWrapper {
  margin-top: 120px;
  position: sticky;
  top: 81px;
}

.postsRightTop {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.postsRightBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  font-family: "Roboto", sans-serif;
}

.calenderHeader {
  margin: 2% 0;
  font-size: 24px;
  font-weight: 300;
}

.calenderBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popularPostsHeader {
  margin: 2% 0;
  font-size: 24px;
  font-weight: 300;
}

.popularPosts {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 300;
  font-size: 16px;
  margin-top: 2%;
}

.popularPost:hover {
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.calendarBox {
  display: flex;
  justify-content: center;
  position: relative;
}

.cancleIcon {
  position: absolute;
  right: 10%;
  top: 15%;
  color: goldenrod;
  cursor: pointer;
}

.categoryImgBox {
  position: relative;
  display: flex;
  justify-content: center;
}

.categoryImg {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.categoryName {
  display: flex;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 35%;
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-weight: 400;
}
